/* Import font lokal */
@font-face {
  /* nama font nya bisa namain sendiri */
  font-family: 'jamal' ;
  src: url(fonts/Bismillah\ Script.ttf);
}

.signature {
  font-family: 'jamal', cursive;
  font-size: 30px;
  color: rgba(255, 0, 0, 0.788);
  text-align: center;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #111827;
  font-family: 'Poppins', sans-serif;
  line-height: 1.80;
  letter-spacing: 0.3px;
  word-spacing: 3px;
}

/* Header */
header {
  text-align: center;
  background: linear-gradient(120deg, #1e3a8a, #172554);;
  color: #e8eff3;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}


header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline; 
  margin-bottom: 10px;
  color: #f9fafb;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0,4);
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #dbeafe;
  margin: 0;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Artikel */
article {
  max-width: 750px;
  margin: 50px auto;
  padding: 0 20px;
}

article h2 {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  color: #1e3a8a;
  margin-bottom: 15px;
}

article p {
  font-size: 17px;
  text-align: justify;
  color: #374151;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
  line-height: 1.75;
}

strong {
  color: #b91c1c;
  font-weight: 600;
}
blockquote {
  background-color: #e0f2fe;
  border-left: 6px solid #0284c7;
  font-style: italic;
  padding: 18px 25px;
  margin: 40px auto;
  max-width: 680px;
  font-size: 18px;
  line-height: 1.6;
  color: #1e40af;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Note Box */
.note {
  background-color: #fef3f2;
  border-left: 6px solid #f87171;
  padding: 12px 18px;
  max-width: 680px;
  margin: 20px auto;
  color: #991b1b;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

footer {
  text-align: center;
  background-color: #111827;
  color: #f9fafb;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 60px;
}

/* google fonts */
.playwrite {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
}

.span {
  color: tomato;
  text-decoration: line-through;
  font-weight: 900;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

/* roboto slab */
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}